.version.index /* version checker */
{
	color: #0000FA;
	background-color: #5EB057;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 915px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	width: 100%;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

#u104
{
	z-index: 2;
	min-height: 987px;
	background-color: #7095A2;
	background-color: rgba(0,66,90,0.56);
	-pie-background: rgba(0,66,90,0.56);
}

#u104_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: 1100px;
	padding-top: 20px;
	padding-bottom: 383px;
}

#u107
{
	z-index: 3;
	background-color: transparent;
	position: relative;
	width: 27.28%;
	left: 36.37%;
}

#u107_img
{
	width: 100%;
}

#pu121
{
	margin-top: 47px;
	position: relative;
	width: 100%;
}

#u121
{
	z-index: 9;
	height: 200px;
	border-radius: 400px;
	position: relative;
	margin-right: -10000px;
	width: 18.19%;
	left: 23.19%;
	background: #FFFFFF url("../images/icon-usuario.png") no-repeat center center;
}

#u121:hover
{
	height: 200px;
	min-height: 0px;
	width: 18.19%;
	margin: 0px -10000px 0px 0%;
	background: #004472 url("../images/icon-usuario.png") no-repeat center center;
}

#u131
{
	z-index: 10;
	height: 200px;
	border-radius: 400px;
	position: relative;
	margin-right: -10000px;
	width: 18.19%;
	left: 56.55%;
	background: #FFFFFF url("../images/icon-transportador.png") no-repeat center center;
}

#u131:hover
{
	height: 200px;
	min-height: 0px;
	width: 18.19%;
	margin: 0px -10000px 0px 0%;
	background: #004472 url("../images/icon-transportador.png") no-repeat center center;
}

#pu141-4
{
	margin-top: 15px;
	position: relative;
	width: 100%;
}

#u141-4
{
	z-index: 11;
	min-height: 22px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	font-family: exo, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	width: 23.37%;
	left: 20.55%;
}

#u144-4
{
	z-index: 15;
	min-height: 22px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	font-family: exo, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	width: 23.37%;
	left: 54%;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u104-bw
{
	z-index: 2;
	min-height: 987px;
}

#u117-4
{
	z-index: 5;
	min-height: 43px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #FFFFFF;
	font-family: exo, sans-serif;
	font-weight: 600;
}

#u117-4-bw
{
	z-index: 5;
	min-height: 43px;
	margin-top: 320px;
}

#u147-12
{
	z-index: 19;
	min-height: 185px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
}

#u147-2,#u147-3
{
	font-size: 24px;
	line-height: 29px;
	font-family: exo, sans-serif;
	font-weight: 600;
}

#u147-5,#u147-7,#u147-8,#u147-10
{
	font-size: 18px;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u147-12-bw
{
	z-index: 19;
	min-height: 185px;
	margin-top: 694px;
}

.html
{
	background: #FFFFFF url("../images/banner-fondo.jpg") no-repeat center top scroll;
}

body
{
	position: relative;
	min-width: 320px;
}


