/* style of home */

html {
	height:100%;
}
body {
	background: url(../img/bg1.png) #f0f0f0 100% repeat;
	background-size:60% auto;
	font-family: Maven Pro;
}
.vd_red{
	color: #f85d2c !important;
}
.has-error .form-field {
    border: 1px solid #a94442 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-success .form-field {
    border: 1px solid #3c763d !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.mt0{
	margin-top: 0px;
}

.noaccount{
	font-size: 16px;
    font-weight: bold;
    padding: 15px 0;
}

.green_corp{
	color: #03dd93 !important;
}

.mt5{
	margin-top: 5px !important;
}

.bwhite{
	background-color: #fff;
}

.itm_not{
  width: 100%;
  background-color: #e0e0e0 !important;
  border: 1px solid #e0e0e0;
  padding: 15px;
}

.p2{
	float: left !important;
}

.wd100{
	width:100% !important;
	height: 100% !important;
}

.p2 .fileUpload{
	width: 100% !important;
	height: 100% !important;
}

.bgb{
	background-color: #fff !important;
}

.mt50{
	margin-top: 50px !important;
}

.itm_not{
	width: 100%;
	background-color: gray;
}

.new-user-za{
	padding: 40px;
    padding-top: 10px;
}

.padding-t10{
	padding-top: 10px !important;
}

.padding-r0{
	padding-right: 0px;
}

.elimn:hover{
	background-color: #ff6b6b;
	color: #fff !important;
}

.sweet-alert h2{
	font-family: Maven Pro !important;
}

.elimn{
	color: #fff !important;
	font-size: 12px !important;
}

.btn-act{
	background: #65b3fe !important;
}

.confirm{
	color: #63B534;
}

.remove-btn:hover {
    background: #ff6b6b !important;
    color: #333 !important;
}

.mdl{
	border-radius: 0px;
}

.mdl-body{
	padding-left: 35px;
	padding-top: 5px;
	padding-right: 35px;
}

.cat5{
	margin-top: 25px;
}

.pointer{
	cursor: pointer;
}

.ant{
	width: 200px;
}

.mred{
	color: #ef3979;
}

.mt{
	margin-top: 50px;
}

.mb{
	margin-bottom: 140px;
}

.tt1{
	font-size: 1.5em;
    color: #d5d5d5;
}

.fcc{
	color: #d5d5d5;
}

.title_carg{
	color: #b1b1b1;
	margin-top: 20px;
}

.mt7{
	margin-top: 7px !important;
}

.mt20{
	margin-top: 20px !important;
}

.mt25{
	margin-bottom: 0px !important;
	margin-top: 25px !important;
}

.description-block p{
	margin-bottom: 0px;
}

.Dimensiones-block p{
	margin-bottom: 0px;
}

.bggray{
	background-color: #f4f4f4;
}

.bgwhite{
	background-color: #fff !important;
}

.w177{
	width: 177px;
}

.mt40{
	margin-top: 40px !important;
}

.mb0{
	margin-bottom: 0px;
}

.mb10{
	margin-bottom: 10px !important;
}

.mb20{
	margin-bottom: 20px !important;
}

.btn-sub2{
	padding-top: 12px;
}
/*------------------- Spinner --------------------*/
.spinner {
  display: inline-block;
  opacity: 0;
  width: 0;

  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
  cursor:progress;
}

.has-spinner.active .spinner {
  opacity: 1;
  width: auto; /* This doesn't work, just fix for unkown width elements */
}

.has-spinner.btn-mini.active .spinner {
    width: 10px;
}

.has-spinner.btn-small.active .spinner {
    width: 13px;
}

.has-spinner.btn.active .spinner {
    width: 16px;
}

.has-spinner.btn-large.active .spinner {
    width: 19px;
}
/*------------------- End Spiner -----------------*/

header {
	background: #114459;
}
.logo {
	margin-top: 10px;
	margin-bottom: 10px;
}
.white {
	background-color: #fff !important;
}

#frmreg h4{
	font-size: 18px !important;
    color: #1a6888 !important;
    font-weight: bold;
}

#frmreg input{
	font-size: 18px !important;
    color: #1a6888 !important;
    font-weight: bold;
}
/*

notification-icon

*/

.notification-icon {
	background: #1b6b8c;
	height: 40px;
	width: 40px;
	border-radius: 20px;
	text-align: center;
	padding: 10px;
	float: left;
}
 .notification-icon::before {
 content: "0";
 position: absolute;
 color: #FFF;
 bottom: 25px;
 left: 27px;
 background: #0adb9a;
 height: 20px;
 width: 20px;
 border-radius: 10px;
}
.notification-icon li {
	color: #114459;
	font-size: 20px;
}
.notification-icon.navbar-right {
	margin-right: 10px;
}
/*

  Navbar 

 */

 .navbar {
	background: 0;
	border:0;
	padding: 0;
	margin-top: 50px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background: #00dd97;
	color: #FFF;
}
.navbar-nav>li {
	margin: 0 5px;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:hover {
	background: #64b2fa;
	color: #FFF;
	padding: 10px 18px;
	font-size: 12px;
	text-transform:uppercase;
}
.navbar.navbar-default {
	padding-right: 15px;
	padding-left: 15px;
	margin:0px;
	margin-top:18px;
}
.filter-text {
	margin-left: -30px;
	margin-bottom: -15px;
}
.header-wrapper {
	padding: 10px 0px;
}
/*

 content

 */


.main {
	background: #FFF;
	height: auto;
	margin-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
}
/*head*/

 .head-main {
	border-bottom: 3px solid #d8d8d8;
	padding-bottom: 20px;
}
.btn-active {
	border-radius: 0;
	color: #fff;
	font-size: 12px;
	background-color: #65b3fe;
	border: 2px solid #fff;
	/*margin-top: 23px;*/
	height: 45px;
}
.btn-desactive {
	border-radius: 0;
	color: #fff;
	font-size: 12px;
	background-color: #b1b1b1;
	border: 2px solid #fff;
	/*margin-top: 23px;*/
	height: 45px;
}
.btn-notification {
	background-color: #FFF;
	color: #b1b1b1;
	font-size: 1.5em;
}
 .head-main .btn-info:nth-child(1), .body-main .btn-info:nth-child(1) {
 background-color: #65b3fe;
 border-color: #65b3fe;
}
.administration-side {
	padding-bottom: 15px;
}
.administration-navigation-wrapper {
	margin-top: 20px;
	margin-bottom: 5px;
}
.administration-navigation-wrapper .main {
	margin: 0;
}
.administration-navigation.head-main {
	border: none;
}
.administration-input {
	background-color: #f4f4f4;
	color: #606060;
	border: none;
	padding: 10px 15px;
	margin: 5px 0px;
	width: 100%;
	outline: none;
}
.administration-side .photo-wrapper {
	margin-top: 10px;
}
.administration-side .photo-wrapper p {
	color: #a0a0a0;
}
.administration-submit {
	background-color: #b1b1b1;
	padding: 30px 30px;
	margin-bottom: 30px;
}
.administration-submit button {
	margin: 0;
	border: none;
}
.administration-left-side-wrapper {
	padding-left: 0;
	padding-right: 5px;
	z-index: 1;
}
.administration-right-side-title-wrapper {
	padding: 0px 20px;
	padding-bottom: 10px;
}
.administration-right-side > div {
	border-bottom: 2px solid #c7c7c7;
}
.administration-right-side button {
	margin: 0;
	margin-bottom: 5px;
}
.administration-activity-info {
	padding: 30px 20px;
}
.administration-activity-buttons {
	padding-top: 10px;
	padding-bottom: 10px;
}
.administration-side-activity {
	padding-bottom: 0;
}
.administration-side img {
	max-width: 80%;
}
/*

border-main

*/

.body-main .btn-info {
	height: 30px;
}
.part1 {
	padding-left: 0;
}
.part2 span {
	margin-top: 32px;
	float: left;
	margin-right: 0px;
	color: #c7c7c7;
}
.part3 {
	margin-top: 18px;
}
.search {
	border-radius: 0;
	border:0;
	height: 40px;
	background: #f4f4f4;
	color: #c4c4c4;
	padding: 10px;
	font-size: 10px;
}
.part3 .form-group {
	padding-right: 4px;
	padding-left: 4px;
}
.submit {
	background: #65b3fe;
	border:0;
	border-radius: 0;
	height: 40px;
	font-size: 12px;
}
/* 

blocks

*/

.blocks {
	margin-top: 45px;
}
.block {
	margin-bottom: 40px;
	border-bottom: 3px solid #d8d8d8;
}
.info {
	background: #f4f4f4;
	height: auto;
	padding-top: 20px;
	margin-bottom: 5px;
}
.info img {
	float: left;
}
.info-2 {
	border-left: 2px solid #d5d5d5;
}
.type {
	float: left;
	margin-right: 2px;
}
.info h1, .info-title {
	font-size: 14px;
	font-weight: bolder;
	margin-top: 0px;
}
.profile-left-side {
	margin-bottom: 20px;
}
.profile-info {
	padding: 15px;
	background: #e0e0e0;
	margin-bottom: 20px;
}
.profile-title-wrapper {
	min-height: 50px;
}
.profile-text-wrapper, .profile-image-wrapper {
	min-height: 200px;
}
.article-image-wrapper {
	padding: 50px 0;
}
.article-image-wrapper .profile-image {
	display: block;
	margin: auto;
}
.article {
	margin-bottom: 20px;
}
.profile-right-side {
	padding: 5px;
	border: 4px solid #e0e0e0;
}
.profile-right-side .article-title {
	font-size: 1.5em;
	color: #114459;
	font-weight: bold;
}
.profile-right-side .article-date {
	font-size: 1em;
	color: #f87b83;
}
.profile-right-side .article-text {
	font-size: 1em;
	font-weight: bold;
	color: #a0a0a0;
}
.info p {
	margin: 0 0 3px;
}
.right-part {
	border: 1px solid #c7c7c7;
	height: auto;
}
.right-part>p {
	font-size: 20px;
}
.info2 {
	background: #f4f4f4;
	height: auto;
	padding-top: 20px;
	margin-top: 5px;
	margin-bottom: 20px;
	padding-bottom: 10px;
}
.info2 .type p {
	font-weight: bolder;
}
.elimn {
	background: #ff6b6b;
	border: 0;
	border-radius: 0;
	text-align: center;
	padding: 0 15px;
	height: 40px;
	font-size: 10px;
	margin-top: 50px;
}
.submit {
	background: #42e1a7;
	border: 0;
	border-radius: 0;
	text-align: center;
	padding: 0 15px;
	height: 40px;
	font-size: 12px;
}
.article-button {
	width: 100%;
}
.button-top-margin-10 {
	margin-top: 10px;
}
/* classes */

.blue {
	color: #65b3fe;
}
.red {
	color: #f87b83;
}
.green {
	color: #42e1a7;
}
.btn-blue {
	background-color: #0099FF;
}
.btn-red {
	background-color: #f87b83;
}
.btn-green {
	background-color: #42e1a7;
}
.profile-picture {
	max-width: 100%;
}
.administration-side {
	background-color: #FFF;
}
.administration-side h1 {
	font-size: 1.5em;
	color: #d5d5d5;
}
.large-title {
	font-size:18px;
}
.medium-title {
	font-size:15px;
	text-transform:uppercase;
}
.block-border {
	border-bottom: 2px solid #c7c7c7;
}
.right-side {
	float:right;
}
.form-title {
	font-size: 15px;
	margin: 8px 0px;
	color: #B1B1B1;
}
.padding_bottom {
	margin-bottom:10px;
}
.contract-box {
	border: 1px solid #c7c7c7;
	height: auto;
	background-color:#fff;
	padding: 10px;
	display: inline-block;
	width: 100%;
}
.contract-box>p {
	font-size: 20px;
}
.block-bg {
	background: #f4f4f4;
	margin-bottom: 20px;
}
.block-bg .administration-activity-info {
	padding: 20px 20px;
}
.right-form-control {
	border: none;
	padding: 6px;
	width: 100%;
	margin-bottom: 15px;
}
.center-aera {
	display:table;
	margin:0px auto;
	float: none;
}
.center-aera .submit {
	margin-right:5px;
	margin-bottom:3px;
}
.right-placeholder {
	text-align:right;
	font-size:16px;
}
.gray-bg {
	background-color: #b1b1b1;
	width: 95px;
}
.gray-bg:hover {
	background-color: #65b3fe;
}
body.signin-page {
	height:100%;
	background: url(../img/bg.png) #012839 100% repeat;
	background-size:60% auto;
}
.signin-content {
	display:table;
	width:100%;
	height: 100%;
}
.signin-form {
	display:table-cell;
	vertical-align:middle;
	padding:15px;
	color:#fff;
}
.signin-form .logo {
	width: 210px;
	display: block;
	margin: 0 auto;
	padding-bottom:15px;
}
.form-signin {
	max-width: 360px;
	padding: 0;
	margin: 0 auto;
	position: relative;
	padding-top: 20px;
}
.form-signin .form-control {
	background-color: #00425a;
	border-color: #00425a;
	box-shadow: none;
	padding: 12px 15px;
	height: auto;
	font-weight: bold;
	font-size: 18px;
	color: #00688b;
}
.form-control::-webkit-input-placeholder {
 color: #006987;
}
.form-control:-moz-placeholder.form-control { /* Firefox 18- */
 color: #006987;
}
.form-control::-moz-placeholder.form-control {  /* Firefox 19+ */
 color: #006987;
}
.form-control:-ms-input-placeholder.form-control {
 color: #006987;
}
.form-signin .forgot-password {
	font-size: 16px;
	font-weight: bold;
	padding: 15px 0;
	color: #03dd93;
}
.forgot-password a {
	color:#03dd93;
}
.forgot-password a:hover, .forgot-password a:focus, .forgot-password a:active {
	text-decoration:none;
	color:#00b3fe;
	outline:none;
}
.signin-form .btn-primary {
	background-color: #00b3fe;
	text-transform: uppercase;
	font-weight: bold;
	border: none;
	outline: none;
	border-radius: 25px;
	padding: 15px 10px;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active:focus, .btn-primary:active:hover {
	background-color:#00425a;
	outline:none;
}
#forgot-section {
	position: absolute;
	top: 0;
	width: 100%;
	min-height: 250px;
	bottom: 0;
	background-color: #002434;
	padding: 15px;
	text-align: center;
	color: #feea17;
	display: none;
	font-weight: bold;
	padding-top: 30px
}
#forgot-section #forgot-close {
	position: absolute;
	background: url(../img/close.jpg) no-repeat;
	display: block;
	width: 25px;
	height: 25px;
	right: 5px;
	top: 5px;
	background-size: 25px auto;
	cursor: pointer;
}
#forgot-section .forgot-text, #forgot-section .forgot-email {
	margin-bottom:25px;
}
.contract-box p {
	display:inline-block;
	width:100%;
}
.contract-box p span {
	float: left;
	width: 110px;
}
.type-text {
	float: left;
	width: 75px;
}
/*** Perfil-EmpresaTrans -> Cotizar ***/
.quote-box {
	padding-right:0px;
}
.bold-large {
	font-size:18px;
	color:#65b2fd;
}
.field_title {
	font-size:15px;
	color:#b1b1b1;
	margin-left:5px;
}
.quote-box p span.width-box {
	width:111px;
}
.quote-box p span {
	width: auto;
}
.quote-box .textbox-field {
	border:none;
	background:#f4f4f4;
	padding:5px;
	float:left;
}
.quote-btn {
	width: 117px;
	background: #b1b1b1;
	margin: 50px auto 0px auto;
}
.quote-btn:hover {
	background:#65b2fd;
}
.quote-box .contract-box {
	float: left;
}
.qoute-main-block {
	border-bottom: 2px solid #c7c7c7;
	margin-bottom: 20px;
}
.qoute-inner-block {
	background: #f4f4f4;
	margin-bottom: 20px;
}
.margin-4 {
	margin-bottom:4px;
}
.description-block .width-box {
	float: left;
	display: inline-block;
	width: 50px;
}
.Dimensiones-block .width-box {
	float: left;
	display: inline-block;
	width: 95px;
}
.observation-text {
	float: left;
	width: 290px;
}
.small-padding-around {
	padding: 10px;
}
.Remove-box {
	background:#fff;
}
.Remove-box .remove-btn {
	width: 117px;
	background: #ff6b6b;
	margin: 50px auto 50px auto;
}
.Remove-box .remove-btn:hover {
	background:#65b2fd;
}
.btn-area .btn {
	float:left;
	margin-right:10px;
}
.skip-btn {
	background:#65b2fd;
	border-radius:20px;
	color:#fff;
	float: right;
}
.edit-form {
	width: 360px;
	margin: 20px auto;
}
.edit-form-inner {
	padding: 30px 40px;
	width: 360px;
	margin: 0px auto;
}
.submit-btn-area {
	background:#d6d6d6;
	padding: 15px 40px;
	width: 360px;
	margin: 0px auto;
}
.edit-form h4 {
	font-size:24px;
	color:#9fa7b7;
}
.rating-star span {
	font-size: 14px;
	color: #1d6d8f;
	float: left;
	margin: 12px 15px 5px 0px;
}
.edit-form .form-field {
	background: #f0f0f0;
	border: none;
	padding: 15px 20px;
	margin-bottom: 10px;
	width: 100%;
	color:#a5adbe
}
 .edit-form .form-field::-webkit-input-placeholder {
 color: #a5adbe;
}
.edit-form .form-field:-moz-placeholder.form-control { /* Firefox 18- */
 color: #a5adbe;
}
.edit-form .form-field::-moz-placeholder.form-control {  /* Firefox 19+ */
 color: #a5adbe;
}
.edit-form .form-field:-ms-input-placeholder.form-control {
 color: #a5adbe;
}
.edit-form h5 {
	font-size:18px;
	color:#a5adbe;
}
.edit-form .category-btn {
	background:#65b2fd;
	border: none;
	padding: 15px 20px;
	margin-bottom: 10px;
	width: 100%;
	font-size:15px;
	text-align:left;
	color:#fff;
	border-radius:0px;
}
.profile-photo span {
	color: #a5adbe;
	font-size: 15px;
	margin-top: 16px;
	display: inline-block;
}
.fileUpload {
	position: relative;
	overflow: hidden;
	width: 105px;
	height: 105px;
	background: #e0e0e0;
	display: table;
}
.fileUpload input.upload {
	position: relative !important;
	width: 100% !important;
}
.fileUpload span {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
	height: 105px;
	width: 105px;
}
.photo-area {
	float:right;
}
.submit-btn-area {
	background:#d6d6d6;
	padding: 15px 40px;
	width: 360px;
	margin: 0px auto;
}
.submit-btn-area .updateprofile_btn {
	background: #65b2fd;
	border: none;
	padding: 15px 20px;
	width: 100%;
	font-size: 15px;
	text-align: center;
	color: #fff;
	border-radius: 0px;
}
.small-text {
	display: inline-block;
	width: 100%;
}
.chat-btn .btn:last-child {
	margin-top:10px;
	margin-bottom:20px;
}
.low-space p {
	margin:0px;
}
.chat-box-main-block {
	background:#f0f0f0;
	width:100%;
	display:inline-block;
}
.chat-box-title {
	border-bottom:1px solid #9fa7b7;
	padding: 25px;
}
.chat-box-title h2 {
	font-size:24px;
	color:#9fa7b7;
	display:inline-block;
	margin:0px;
}
.message-area {
	padding:10px 10px;
}
.message-date {
	display: table;
	margin: 0px auto;
	color: #FFF;
	font-size: 14px;
	background: #ababab;
	border-radius: 10px;
	padding: 0px 10px;
}
.chat {
	width: 100%;
	padding: 0px 5px;
	/*margin-bottom: 25px;*/
}
.bubble-row {
	display:inline-block;
	width:100%;
}
.bubble {
	background-color: #F2F2F2;
	border-radius: 5px;
	display: inline-block;
	padding: 10px 18px;
	position: relative;
	vertical-align: top;
	width:300px;
	color:#fff;
}
 .bubble::before {
 background-color: #F2F2F2;
 content: "\00a0";
 display: block;
 height: 16px;
 position: absolute;
 top: 11px;
 transform:             rotate( 29deg ) skew( -35deg );
 -moz-transform:    rotate( 29deg ) skew( -35deg );
 -ms-transform:     rotate( 29deg ) skew( -35deg );
 -o-transform:      rotate( 29deg ) skew( -35deg );
 -webkit-transform: rotate( 29deg ) skew( -35deg );
 width:  20px;
}
.me {
	float: left;
	margin: 5px 45px 5px 20px;
	background:#ababab;
}
 .me::before {
 left: -9px;
 background-color:  #ababab;
}
.you {
	float: right;
	margin: 5px 20px 5px 45px;
	background:#64b1fc;
}
 .you::before {
 right: -9px;
 background-color:  #64b1fc;
}
.you .message-text {
	float:left;
	width:210px;
}
.you .message-time {
	float: right;
	color:#4782ba;
	font-size:15px;
}
.me .message-text {
	float:left;
	width:210px;
}
.me .message-time {
	float: right;
	color:#777777;
	font-size:15px;
}
.enter-new-message {
	background:#64b1fc;
	padding: 12px 20px;
	display:inline-block;
	width:100%;
	margin-bottom:20px;
}
.new-message-box {
	border:none;
	border-radius:5px;
	padding:10px;
	width: 90%;
}
.enter-message-btn {
	border: NONE;
	PADDING: 10PX 20px;
	float: right;
	background-color: #114459;
	border-radius: 5px;
	color: #fff;
}
/**** Rating Star ****/
.rating-loading {
	width: 25px;
	height: 25px;
	font-size: 0px;
	color: #fff;
	background: transparent url('../images/rating-loading.gif') top left no-repeat;
	border: none;
}
.rating-gly {
	font-family: 'Glyphicons Halflings';
}
.rating-gly-star {
	font-family: 'Glyphicons Halflings';
	padding-left: 2px;
}
.rating-gly-star .rating-stars:before {
	padding-left: 2px;
}
.rating-lg .rating-gly-star, .rating-lg .rating-gly-star .rating-stars:before {
	padding-left: 4px;
}
.rating-xl .rating-gly-star, .rating-xl .rating-gly-star .rating-stars:before {
	padding-left: 2px;
}
.rating-active {
	cursor: default;
}
.rating-disabled {
	cursor: not-allowed;
}
.rating-uni {
	font-size: 1.2em;
	margin-top: -5px;
}
.rating-container {
	position: relative;
	vertical-align: middle;
	display: inline-block;
	color: #E6E7E8;
	overflow: hidden;
	letter-spacing: 3px;
}
.rating-container:before {
	content: attr(data-content);
}
.rating-container .rating-stars {
	position: absolute;
	left: 0;
	top: 0;
	white-space: nowrap;
	overflow: hidden;
	color: #f6bd24;
	transition: all 0.25s ease-out;
	-o-transition: all 0.25s ease-out;
	-moz-transition: all 0.25s ease-out;
	-webkit-transition: all 0.25s ease-out;
}
.rating-container .rating-stars:before {
	content: attr(data-content);/*text-shadow: 0 0 1px rgba(0, 0, 0, 0.7);*/
}
.rating-container-rtl {
	position: relative;
	vertical-align: middle;
	display: inline-block;
	overflow: hidden;
	color: #fde16d;
}
.rating-container-rtl:before {
	content: attr(data-content);
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
}
.rating-container-rtl .rating-stars {
	position: absolute;
	left: 0;
	top: 0;
	white-space: nowrap;
	overflow: hidden;
	color: #e3e3e3;
	transition: all 0.25s ease-out;
	-o-transition: all 0.25s ease-out;
	-moz-transition: all 0.25s ease-out;
	-webkit-transition: all 0.25s ease-out;
}
.rating-container-rtl .rating-stars:before {
	content: attr(data-content);
}
/**
 * Rating sizes
 */
.rating-xl {
	font-size: 4.89em;
}
.rating-lg {
	font-size: 3.91em;
}
.rating-md {
	font-size: 3.13em;
}
.rating-sm {
	font-size: 2em;
}
.rating-xs {
	font-size: 1.2em;
}
.star-rating .clear-rating, .star-rating-rtl .clear-rating {
	color: #aaa;
	cursor: not-allowed;
	display: inline-block;
	vertical-align: middle;
	font-size: 60%;
}
.clear-rating-active {
	cursor: pointer !important;
}
.clear-rating-active:hover {
	color: #843534;
}
.star-rating .clear-rating {
	padding-right: 5px;
}
.star-rating .caption, .star-rating-rtl .caption {
	color: #999;
	display: inline-block;
	vertical-align: middle;
	font-size: 55%;
}
.star-rating .caption {
	padding-left: 5px;
	font-size: 15px;
}
.star-rating-rtl .caption {
	padding-right: 5px;
}
.navbar.navbar-default {
	text-transform: uppercase;
}
footer {
	background-color:#f5f5f5;
	padding:30px 0;
	color:#818181;
	margin-top: 25px;
}
footer a {
	color:#818181;
}
footer a:hover, footer a:focus {
	text-decoration:none;
}
footer .footer-logo {
	width:140px;
	display:block;
	margin:0 auto;
	margin-bottom:10px;
}
footer .copyright {
	font-size:12px;
}
img.designby {
	margin:0 auto;
}
.widget-title {
	font-size: 15px;
	color: #1a6480;
	margin: 10px;
	margin-bottom: 30px;
}
ul.widget-menu {
	margin:0px;
	padding:0px;
	list-style:none;
}
ul.widget-menu li {
	padding:0px;
	display:block;
}
ul.widget-menu li a {
	padding:6px 10px;
	display:block;
}
ul.widget-menu li a:hover {
	background-color:#f0f0f0;
	color:#818181;
}
.footer-social {
	position:relative;
	display:block;
	padding:10px;
}
.footer-social a {
	display:inline-block;
	width:32px;
	margin-right:3px;
}
.footer-social a img {
	max-width:100%;
}
.footer-social a:hover {
	opacity:.8;
}
.page-header {
	padding: 0;
	margin: 40px 0px 65px !important;
	border: none;
	text-align: center;
	color: #114459;
}
.page-header-2 {
	padding: 0;
	margin: 60px 0px 45px !important;
	border: none;
	text-align: center;
	color: #114459;
}
.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, .h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small {
	line-height: 1;
	color: inherit;
}
.page-header h1 {
	margin:0px;
}
.page-header h1 span {
	color:#65b2fd;
}
.small-block {
	display:block;
}
.home-boxes {
	position:relative;
	display:block;
	margin: 30px 0;
}
.home-boxes .home-box {
	width: 20%;
	padding: 10px;
	display: inline-block;
	vertical-align: top;
	margin:-2px;
	margin-top:0px;
	margin-bottom: 0px;
}
.home-boxes .box {
	background: #fff;
	padding: 10px;
	text-align: center;
	color: #114459;
	font-weight: bold;
	font-size: 16px;
 -webkit-transition: background .2s ease-in-out;
 -moz-transition: background .2s ease-in-out;
 transition: background .2s ease-in-out;
	min-height: 225px;
	border-radius: 4px;
}
.home-boxes .box:hover {
	color:#fff;
	background:#65b2fd;
}
.home-boxes .box .icon {
	display:block;
}
.home-boxes .box .icon img {
	margin:0 auto;
}
.home-boxes .box .icon .hover {
	display:none;
}
.home-boxes .box:hover .icon .front {
	display:none;
}
.home-boxes .box:hover .icon .hover {
	display:block;
}
.home-boxes .box .desc p {
	margin:0px;
}
.bottom-boxs {
	margin: 30px -10px;
	position:relative;
	display:block;
}
.bottom-boxs .box {
	background-color: #d6b500;
	color: #fff;
	text-align: center;
	padding: 15px;
	border-radius: 4px;
	margin-bottom: 30px;
	min-height: 230px;
}
.bottom-boxs .box.color2 {
	background-color: #65b2fd;
}
.bottom-boxs .box.color3 {
	background-color: #1fb3a0;
}
.bottom-boxs .box.color4 {
	background-color: #c1577a;
}
.bottom-boxs .icon img {
	margin:0 auto;
}
.bottom-boxs .icon {
	padding-top:15px;
}
.bottom-boxs .info {
	background:none;
	background-color:transparent;
	padding: 15px;
	padding-bottom: 5px;
	margin: 0;
}
.bottom-boxs .info p {
	margin:0px;
}
.edit-form.cotizar-form {
	width: 540px;
	margin: 20px auto;
	background-color: #fff;
	padding: 35px;
	    padding-top: 20px;
}
.cotizar-form .submit-btn-area{
padding:30px;
}
.cotizar-form .edit-form-inner{
    padding: 0;
    width: 280px;
    margin: 0px auto;
    padding-bottom: 25px;
}
.register-form .photo-area{
	float:none;
	margin:15px 0;
}
.register-form .fileUpload {
    position: relative;
    overflow: hidden;
    width: 140px;
    height: 140px;
    background: #e7e7e7;
    display: block;
    margin: 0 auto;
}
.register-form .fileUpload input.upload{
 width: 140px;
    height: 140px;
}
.register-form .profile-photo span{
    display: block;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 4px;
    color: #fff;
    background-color: #00dd97;
    font-size: 14px;
}
.register-form .submit-btn-area .updateprofile_btn{
    border-radius: 30px;
	outline:none;
}
.register-form h4{
    font-size: 22px;
    color: #9fa7b7;
    margin-bottom: 25px;
}
.register-form .radio-option .radio{
    display: inline-block;
    width: 48%;
    color: #a5adbe;
}
/*** End ***/
/* 

responsive

*/
@media (max-width: 992px) {
 footer {
font-size: 13px;
}
 footer .copyright {
 font-size: 10px;
}
.home-boxes .home-box {
width:50%;
}
.page-header h1 {
 font-size: 30px;
}
 .Remove-box .remove-btn {
width: auto;
}
 .quote-btn {
width: auto;
margin: 115px auto;
}
 .quote-box p span.width-box {
 width: 100%;
}
.new-message-box {
 width: 89%;
}
.chat-btn .btn {
margin: 10px;
0px 0px;
}
}
 @media (max-width: 767px) {
 .info-2 {
 border-left: 0;
 padding-top: 20px;
 margin-top: 20px;
}
 .elimn {
 margin-top: 10px;
 margin-bottom: 20px;
}
 .navbar-toggle {
 margin-right: 0 !important;
}
 .navbar.navbar-default {
 margin-top: 0;
 margin-bottom: 0;
}
.btn-lg, #forgot-section {
font-size:14px;
}
.signin-form .logo {
width:150px;
}
.quote-btn {
width: auto;
margin: 10px auto !important;
}
.observation-text {
 float: left;
 width: auto;
}
.observation-text {
 float: left;
 width: auto;
}
.Remove-box {
 background: #F4F4F4;
 display: inline-block;
 width: 100%;
 text-align: center;
}
.Remove-box .remove-btn {
 margin: 20px auto 20px auto;
}
.new-message-box {
 width: 100%;
}
.enter-message-btn {
float: none;
 margin: 10px auto 0px;
 display: block;
}
 .rating-xs {
 font-size: 8px;
 padding-top: 5px;
}
 footer {
text-align:center;
}
.footer-contact {
margin-bottom: 25px;
}
footer .footer-logo, img.designby {
}
ul.widget-menu li a {
padding-left:0px;
}
.widget-title {
 margin: 10px 0 0;
 border-top: 1px solid #D4D2D2;
 padding: 15px 0;
}
.footer-social {
padding:10px 0;
}
.page-header {
 margin: 22px 0;
}
.page-header h1 {
 font-size: 20px;
}
.bottom-boxs .box {
min-height:80px;
}
.edit-form.cotizar-form{width:98%;margin:0 auto;    padding: 20px;}

.cotizar-form .submit-btn-area {
    padding: 15px;
}
}
@media (max-width: 479px) {
 .home-boxes .home-box {
width:100%;
}
.home-boxes .box {
min-height:50px;
}
.cotizar-form .edit-form-inner{width:100%;}
.cotizar-form .submit-btn-area{width:95%;}
}
@media (max-width: 384px) {
 .profile-picture-wrapper {
 display: none;
}
 .user-info-wrapper {
 width: 100% !important;
}
.type p span {
display: inline-block;
 float: left;
 width: 100%;
}
 .gray-bg {
 width: 81px;
}
.btn-area .btn {
 float: left;
 margin-right: 10px;
 width: 100%;
 margin-top: 5px;
}
.edit-form {
width: 100%;
 margin: 20px auto;
}
.edit-form-inner {
padding: 20px;
 width: 100%;
 margin: 0px auto;
}
 .submit-btn-area {
background:#d6d6d6;
padding: 15px 40px;
 width: 100%;
 margin: 0px auto;
}
}

 @media (min-width: 768px) {
 .logo {
 margin: 0px;
}
 .info-2 {
 border-left: 2px solid #c7c7c7;
 margin-top: 20px;
}
 .elimn {
 margin-top: 10px;
 margin-bottom: 20px;
}
 .navbar-toggle {
 margin-right: 0 !important;
}
}
@media (max-width: 768px) {
 .Remove-box .remove-btn {
width: auto;
}
 .quote-btn {
width: auto;
margin: 115px auto;
}
 .quote-box p span.width-box {
 width: 100%;
}
.new-message-box {
 width: 85%;
}
}
 @media (min-width: 992px) {
 .info-2 {
 margin-top: 20px;
}
 .elimn {
 margin-top: 10px;
 margin-bottom: 20px;
}
 .part2 span {
 float: left;
}
}
 @media (max-width: 1199px) {
 .info {
 padding-top: 0;
 padding-bottom: 20px;
}
}
 @media (min-width: 1200px) {
 .info-2 {
 border-left: 2px solid #c7c7c7;
 margin-top: 0;
 margin-bottom:10px;
}

@media (min-width: 450px) {
 .vp{
 	width: 100% !important;
 }
}

.align-down
{
	top:10px;
}

.mybtn
{
	border:2px;
}

.hasDatepicker
{
	margin-top: 6px;
}

.top-button
{
	margin-top: 23px;
}

.srchInput
{
	width: 90%;
}

.menu-btn
{
	margin-top: 10px;
	width: 117px;
}

#inside-not
{
	background-color:#f0f0f0;
	position:fixed;
	width:300px;
	padding-top: 15px;
	border-radius: 5px;
	text-transform: none;
	z-index: 5;
}

#not{
	background-color:white;
	border-radius: 5px;
}

#arrow-not:before {
	content: '';
	border-style: solid;
	border-width: 0px 15px 15px 15px;
	border-color: transparent transparent #f0f0f0 transparent;
	margin-right: 170px;
}

.back-white{
    background-color: #FFF;
}

.panel-footer {
    padding: 10px 15px !important;
    background-color: #387ef5 !important;
}
.panel-footer-gray{
    text-align: right;
    font-weight: bold;
    font-size: 85%;
    color: #383737;
    background-color: #949494 !important;
    padding-right: 5px;
    padding-top: 2px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.panel-footer-blue{
    text-align: right;
    font-weight: bold;
    font-size: 85%;
    color: #0b3290;
    background-color: #387ef5 !important;
    padding-right: 5px;
    padding-top: 2px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.panel-body {
    padding: 0px !important;
}
.box-blue{
    background-color: #387ef5;
    color: #FFF;
}
.box-blue {
    position: relative;
    background: #387ef5;
    border: 4px solid #387ef5;
    padding: 2%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.box-blue:after, .box-blue:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    position: absolute;
    pointer-events: none;
}

.box-blue:after {
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #387ef5;
    border-width: 11px;
    margin-top: -10px;
}

.box-gray {
    position: relative;
    color: #FFF;
    background: #949494;
    border: 4px solid #949494;
    padding: 2%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.box-gray:after, .box-gray:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    position: absolute;
    pointer-events: none;
}

.box-gray:after {
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #949494;
    border-width: 11px;
    margin-top: -10px;
}

.chatli
{
	list-style-type: none;
}